body{
    font-family: 'Manrope', sans-serif;
}

.scroll{
    overflow:scroll;
    width: auto;
    height: 20em;
    border: 2px;
    
}
.title-content{
    padding: 100px;
}
.virusimage{
    width: 100%;
}
.badge{
    width: 200%;
}


.card-header{
    text-align: center;

}

.cd-in{
    padding: 50px;
    
}
.update-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    
}
#dailyUpdates{
   
    text-align: center;
    background-color: #EA2027;
    color: #ffff;
}
.fundDetails{
    padding: 100px;
    
}
.card_content{
    margin: 30px;
}
.a-icon{
    margin: 5% 3% 3%;
}
.app {
    text-align: center;
}
.donate{
    text-align: center;
}
#footer{
    padding: 50px;
    text-align: center;
   
    

}
#features{
    text-align: center;
    padding: 7% 15%;
    background-color: #ecf0f1;
    z-index: 1;
    position: relative;
}
.ftr{
    padding: 10px;

}
.features-icon:hover{
    color: #5a5757;
}
.footer-content{
    font-size: 0.75rem;
    padding: 10px ;
}
.ftr:hover{
    color: rgb(22, 22, 22);
}

#dailyUpdates{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-img-top{
    padding: 10px;
}
.btn{
    margin: 10px;
}
@media(max-width: 1024px){
    .title-content{
        padding-left: 40px;
        padding-right: 0px;
      
        
    }
    .vsi , .vsw{
        width: 320px;
        height: 300;
    }
    
    

    #govAPP{
        width: 400px;
    }
}